/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.nav-logo a {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  text-decoration: none;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 15px;
  color: #374151;
  padding: 6px 10px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.nav-links li a:hover {
  background: #f1f5f9;
  color: #2563eb;
}
